In [1]:
import numpy as np
import pandas as pd

# df = pd.read_excel('input.xlsx', sheet_name=1, usecols='A,R,S')
df = pd.read_excel('input.xlsx', sheet_name=1)
df.sort_values(by='TASKNUMBER')
sdf = df[['TASKNUMBER', 'SCORE']].groupby(by='TASKNUMBER').sum().reset_index()

       TASKNUMBER  SCORE
0     200001-01-1   1.00
1     200001-02-1   2.62
2     200002-01-1   0.90
3     200003-01-1   0.50
4     200003-02-1   0.52
5     200003-03-1   0.33
6     200121-01-1   0.75
7     200121-03-1   1.08
8     200121-04-1   0.65
9     200125-01-1   0.71
10    200125-02-1   3.81
11    200125-05-1   8.56
12    200125-06-1   8.83
13    200125-07-1  11.51
14    200127-02-1   0.94
15    200127-05-1   2.55
16    200127-07-1   7.44
17    200129-01-1   1.09
18    200129-02-1   0.84
19    200129-03-1   2.34
20    200131-01-1   8.93
21    200131-02-1   8.93
22    200131-03-1  11.94
23    200133-01-1  12.57
24    200137-01-1  34.43
25    200141-01-1   0.60
26    200145-01-1   8.74
27    200151-01-1  75.16
28    200151-02-1  74.96
29    200151-03-1  11.94
...           ...    ...
2577  ZL-733-01-1   0.20
2578  ZL-734-01-1   0.24
2579  ZL-811-01-1   0.12
2580  ZL-811-02-1   0.42
2581  ZL-812-01-1   0.24
2582  ZL-813-01-1   0.17
2583  ZL-824-01-1   0.13
2584  ZL-825-01-1   0.13
2585  ZL-825-01-2   0.13
2586  ZL-825-02-1   1.18
2587  ZL-825-02-2   1.33
2588  ZL-826-01-1   0.12
2589  ZL-826-01-2   0.12
2590  ZL-826-01-3   0.12
2591  ZL-826-02-1   0.67
2592  ZL-826-02-2   0.71
2593  ZL-826-02-3   1.32
2594  ZL-827-01-1   0.23
2595  ZL-827-02-1   0.53
2596  ZL-831-01-1   0.14
2597  ZL-831-02-1   2.64
2598  ZL-831-03-1   0.18
2599  ZL-831-04-1   0.24
2600  ZL-833-02-1   2.04
2601  ZL-833-02-2   2.36
2602  ZL-833-02-3   2.04
2603  ZL-833-04-1   0.48
2604  ZL-834-06-1   0.32
2605  ZL-835-01-1   0.24
2606  ZL-835-02-1   0.84

[2607 rows x 2 columns]

In [7]:
res = pd.merge(df, sdf, how='left', on='TASKNUMBER')
res = pd.concat([res, res.duplicated(subset=['TASKNUMBER'])], axis=1)
res.rename(columns={0: 'NOTFIRST', 'SCORE_x': 'SCORE', 'SCORE_y': 'SUM'}, inplace=True)

def func(x):
    if x['NOTFIRST'] == True:
        x['SUM'] = np.nan
    return x
res = res.apply(func, axis=1)
# res[['TASKNUMBER', 'SCORE', 'SUM']].to_excel('output.xlsx')
res.drop(columns=['NOTFIRST', 'RESULT'], inplace=True)
res.to_excel('output.xlsx')

In [65]:
# res = pd.merge(df[['TASKNUMBER', 'SCORE']], sdf, how='left', on='TASKNUMBER')
# res = pd.merge(df[['TASKNUMBER', 'SCORE']], sdf, how='left', on='TASKNUMBER')
# res = pd.concat([res, res.duplicated()], axis=1)
# res.rename(columns={0: 'NOTFIRST', 'SCORE_x': 'SCORE', 'SCORE_y': 'SUM'}, inplace=True)

# def func(x):
#     if x['NOTFIRST'] == True:
#         x['SUM'] = np.nan
#     return x
# res = res.apply(func, axis=1)
# res[['TASKNUMBER', 'SCORE', 'SUM']].to_excel('output.xlsx')